.TrackTabs {
  display: flex;
  position: relative;
}

.tabItem {
  color: var(--item-inactive-color);
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px 0px;
  padding-left: 10px;
  font-size: 12px;
  border-bottom: 2px solid var(--item-inactive-color);
  border-right: 2px solid var(--main-bg-color);
  position: relative;
  white-space: nowrap;
}
  .tabItem:last-child {
    border-right: none;
  }
.tabItemActive {
  z-index: 1;
  color: var(--button-fg-color);
  background: var(--active-tab-color);
  border-bottom: 2px solid var(--main-bg-color);
}

.tabItemBus {
  position: absolute;
  display: flex;
  right: 5px;
  width: 60px;
}
  .tabItemBusButton {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 5px;
    padding: 5px;
    background: #222;
    color: white;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
  }
    .tabItemBusButton:last-child {
      margin-right: 0;
    }
    .tabItemActiveBusButton {
      background: #333;
    }
