.TrackParameters {
  display: flex;
  margin-bottom: 10px;
}
  .TrackParameters .item:last-child {
    margin-right: 0;
  }
  .TrackParameters .item {
    flex-grow: 1;
    background: var(--item-inactive-color);
    color: var(--main-bg-color);
    margin-right: 10px;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 12px;
    text-transform: uppercase;
    flex-basis: 0;
  }
  .TrackParameters .item.active {
    background: var(--item-active-color);
  }
  @supports (background: paint(slanted-bg)) {
    .TrackParameters .item.active {
      --background-color: var(--item-active-color);
      background: paint(slanted-bg);
    }
  }
